rect { stroke: black;}

.title {
  text-align: center;
  font-family: "montserrat";
  text-decoration: underline;
  text-shadow: 2px 2px 4px grey
}
.btnContainer {
  text-align: center;
}
.btn {
  margin: 0px;
  border: 1px solid #3498db;
  padding: 5px 15px;
  font-size: 15px;
  font-family: "montserrat";
  cursor: pointer;
}
